.inner_popup {
    display: block;
    min-height: inherit;
    width: 90%;
}

.outer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10000;
}

.popup {
    background-color: #323030;
    border: 1px solid rgb(81, 81, 81);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small_v {
    min-width: 20%;
    min-height: 5%;
}

.medium_v {
    min-width: 40%;
    min-height: 10%;
}

.large_v {
    min-width: 80%;
    min-height: 20%;
}