.container {
    display: block;
    position: absolute;

    background-color: rgb(136, 136, 136);
    border-radius: 15px;
    border: 3px solid black;

    min-width: 200px;
    min-height: 200px;
}