.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    max-width: 336px; /* Максимальная ширина контейнера */
    height: auto; /* Максимальная высота контейнера */

    border-radius: 0px 0px 15px 15px;

    overflow-y: auto; /* Прокрутка по вертикали */
    overflow-x: hidden;

    gap: 1.5px;
    background-color: #000000; 
    padding: 3px;
}

/* Стилизация полосы прокрутки для WebKit-браузеров (Chrome, Safari) */
.layout::-webkit-scrollbar {
    width: 12px; /* Ширина вертикальной полосы прокрутки */
}

.layout::-webkit-scrollbar-track {
    background: #ffffff; /* Цвет фона трека */
    border-radius: 10px; /* Скругление углов трека */
}

.layout::-webkit-scrollbar-thumb {
    background: #3e3e3e; /* Цвет полосы прокрутки */
    border-radius: 10px; /* Скругление углов полосы прокрутки */
}

.layout::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет полосы прокрутки при наведении */
}
