.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -500px;
    background-color: #323030;
    width: 500px;
    height: calc(100% - 40px);
    margin-top: 20px;
    border-radius: 15px;
    opacity: .8;
}